*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    overflow-x: hidden;
}
.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
     font-weight: 600;
     float: right;
     text-align: left;
    color:#717171;
}
.years{
    color: green;
}
.carousel.slide {
    background-color:#F5F7FA;
}
.customer.section{
    background-color: #F5F7FA;
}
.get-demo{
    background-color: #F5F7FA;
}
.helping-local.section{
    background-color: #F5F7FA;
}
.none{
    list-style: none;
    padding: 0;
}
